body, html{
    padding: 0;
    margin: 0;
}

/* NAV SECTION */
#nav{
    display: flex;
        background-color: #1F2937;
        height: 80px;
        justify-content: space-between;
        align-items: center
}
.header-logo{
    display: flex;
        padding-left: 50px;
        font-size: 24px;
        color: #f9faf8;
}
.navlinks{
    display:flex;
    gap: 50px;
    list-style: none;
    font-size: 18px;
    color: #E5e7eb;
        padding-right: 50px
}

/* FIRST SECTION */
#first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}